trigger:
- main

pr:
- '*'

jobs:
- job: BuildAndPublish
  displayName: 'Build and Publish'
  pool:
    name: 'Default'  # Use the default self-hosted agent pool

  variables:
    solution: '**/*.sln'
    buildConfiguration: 'Release'
    nuGetFeed: 'YourNuGetFeed'  # Replace with the name of your NuGet feed in Azure DevOps Artifacts
    nuGetApiKey: $(NuGetApiKey)  # Ensure that you have a secret variable named NuGetApiKey with the NuGet feed API key

  steps:
  - checkout: self

  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '6.0.100'  # Use the version of .NET SDK that supports .NET 6.0
      installationPath: $(Agent.ToolsDirectory)/dotnet  # Ensure 'dotnet' is added to the PATH

  - task: NuGetToolInstaller@1
    inputs:
      versionSpec: '5.x.x'  # Use a version that is compatible with your project

  - task: NuGetCommand@2
    inputs:
      restoreSolution: '$(solution)'

  - task: DotNetCoreCLI@2
    displayName: 'Build'
    inputs:
      command: build
      projects: '**/*.csproj'
      arguments: '--configuration $(buildConfiguration)'
      msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true'

  - task: DotNetCoreCLI@2
    displayName: 'Pack'
    inputs:
      command: pack
      packagesToPack: '**/*.csproj'
      configuration: '$(buildConfiguration)'
      versioningScheme: 'off'  # Turn off versioning to use the version specified in your project

  - task: DotNetCoreCLI@2
    displayName: 'Push to NuGet Feed'
    inputs:
      command: custom
      custom: 'push'
      arguments: '$(Build.ArtifactStagingDirectory)/*.nupkg'
      publishWebProjects: false
      nuGetFeedType: 'internal'
      publishFeedCredentials: 'YourNuGetFeed:$(nuGetApiKey)'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Artifact'
    inputs:
      pathtoPublish: '$(Build.ArtifactStagingDirectory)'
      artifactName: 'drop'
